.section--box{
  min-height: 600px;
  &__line-right{
    position: absolute;
    top: 0;
    bottom: -20px;
    right: -20px;
    width: 20px;
    background: $primary;
    @include media-breakpoint-up(sm){
      display: none;
    }
  }
  &__link{
    text-decoration: none!important;
    &:hover{
      color: white;
      opacity: .75;
    }
    &:active{
      color: white;
      opacity: .5;
    }
  }
  &__header{
    position: relative;
    padding-bottom: 30px;
  }
  &__item{
    position: relative;
    width: 100%;
    padding: 30px 30px 20px 30px;
    @include media-breakpoint-up(sm){
      width: 430px;
      min-width: 430px;
      padding: 40px 50px 40px 40px;
    }
    &__wrapper{
      padding-bottom: 70px;
      @include media-breakpoint-up(sm){
        padding-right: 20px;
      }
    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: #2D2D2D;
    }
    &__img{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #fff;
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
    }
    &__bg{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
      background: $primary;
      transform: translate(20px, 20px);
      @include media-breakpoint-down(xs){
        &--left{
          transform: translate(-20px, 20px);
          span:first-child{
            display: block;
            position: absolute;
            background: $primary;
            bottom: 0;
            right: -40px;
            left: 0;
            height: 20px;
            z-index: -1;
          }
          span:last-child{
            display: block;
            position: absolute;
            background: $primary;
            bottom: -150px;
            right: -40px;
            left: auto;
            width: 20px;
            height: 170px;
            z-index: -1;
          }
        }
      }
    }
    &__row{
      display: flex;
      flex-wrap: wrap;
      margin: -10px;
      @include media-breakpoint-up(xs){
        justify-content: center;
      }
    }
    &__col{
      padding: 10px;
      position: relative;
      width: 100%;
      flex: 0 0 50%;
      max-width: 50%;
      @include media-breakpoint-up(xs){
        flex: 0 0 33.33333333333%;
        max-width: 33.33333333333%;
      }
    }
  }
}
