.section--faq {
  position: relative;
  @include media-breakpoint-up(lg){
    min-height: 550px;
  }
  .offset-left {
    @include media-breakpoint-up(xxl) {
      padding-left: 220px;
    }
    @include media-breakpoint-up(fhd) {
      padding-left: 320px;
    }
  }
  &__btn{
    position: relative;
    width: 100%;
    flex: 0 0 220px;
    max-width: 220px;
    text-align: center;
  }
  &__btn-line{
    position: relative;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 20px;
  }
  &__line{
    @include media-breakpoint-down(xs){
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 20px;
      background: $primary;
      z-index: -1;
    }
  }

  &__slider-nav {
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    @include media-breakpoint-up(lg){
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &__wrap-slider {
    display: none;
    position: relative;
    width: 100%;
    flex: 0 0 390px;
    max-width: 390px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 90px;
    @include media-breakpoint-up(lg){
      display: block;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 66px;
      flex: 0 0 550px;
      max-width: 550px;
    }
  }
  &__slider:not(.tns-slider){
    display: flex;
    overflow: hidden;
    width: 100%;
    >div{
      position: relative;
      width: 100%;
      flex: 0 0 390px;
      max-width: 390px;
      @include media-breakpoint-up(xl) {
        flex: 0 0 550px;
        max-width: 550px;
      }
    }
  }

  &__header {
    margin-bottom: 50px;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  &__list-item {
    display: block;
    margin-bottom: 5px;
  }

  &__list-link {
    display: inline-block;
    padding: 6px 0;
    position: relative;
    cursor: pointer;
    line-height: 1.6;
    &:before {
      content: '';
      position: absolute;
      left: -53px;
      top: 0;
      width: 0;
      height: 34px;
      background: $primary;
      transition: .2s ease;
      z-index: -1;
      display: none;
      @include media-breakpoint-up(lg){
        display: block;
      }
    }

    &.active {
      &:before {
        width: 100px;
      }
    }
  }
}
