.section--fs{
  position: relative;
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(lg){
    padding-top: 80px;
    max-height: 900px;
  }
  &__nav{
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
    @include media-breakpoint-up(lg){
      flex: 0 0 41%;
      max-width: 41%;
      margin-top: -40px;
    }
    @include media-breakpoint-up(xxl){
      margin-top: 0;
      flex: 0 0 50%;
      max-width: 50%;
    }
    &__wrapper{
      display: inline-block;
      position: relative;
    }
    &--fixed{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      .section--fs__nav-content{
        opacity: 0;
      }
    }
    &.fixed{
      .section--fs__nav--fixed{
        display: none;
      }
      @include media-breakpoint-up(sm){
        .section--fs__nav-content{
          opacity: 0;
          pointer-events: none;
        }
        .section--fs__nav--fixed{
          display: block;
          .section--fs__nav-content{
            opacity: 1;
            pointer-events: auto;
          }
          //Изменяя transition тут илзмени transition в navbar.js в блоке navigation
          transition: .5s ease;
          .section--fs__nav-link, .section--fs__nav-label{
            transition: .4s ease;
          }
          &:not(.active){
            position: absolute!important;
            left: 0!important;
            top: 0!important;
            bottom: auto!important;
            right: auto!important;
          }
          &.active{
            .section--fs__nav-label{
              visibility: hidden;
              opacity: 0;
              pointer-events: none;
            }
            .section--fs__nav-link{
              &:before, &:after{
                display: none;
              }
            }
          }
          &.move{
            right: 10px!important;
            min-width: 150px;
            bottom: 119px!important;
            @media (min-width: 1790px) {
              right: calc(50% - 885px)!important;
            }
            .section--fs__nav-label{
              font-size: 0!important;
              padding-left: 0!important;
              padding-right: 0!important;
            }
            .section--fs__nav-link{
              font-size: 16px!important;
              line-height: 26px!important;
              height: 26px!important;
              padding-left: 0!important;
              padding-right: 0!important;
              &.active, &:hover{
                font-size: 26px!important;
                line-height: 26px!important;
              }
            }
          }
        }
      }
    }
  }
  &__nav-label{
    @include media-breakpoint-up(lg){
      padding-left: 50px;
    }
    margin-bottom: 4px;
  }
  &__nav-list{
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  &__nav-item{
    margin-bottom: 2px;
  }
  &__nav-link{
    position: relative;
    font-weight: 500;
    line-height: 1.2;
    color: white;
    padding-left: 50px;
    padding-right: 10px;
    display: block;
    height: 55px;
    text-decoration: none!important;
    outline: none!important;
    opacity: 1!important;
    @include font-size(44px);
    @include media-breakpoint-up(xl){
      @include font-size(46px);
    }
    &:before {
      content: '';
      position: absolute;
      left: -70px;
      top: 0;
      width: 0;
      height: 100%;
      background: $primary;
      transition: .4s ease-in;
      z-index: -1;
    }
    &:after {
      content: '';
      position: absolute;
      left: 10px;
      top: 0;
      width: 30px;
      height: 100%;
      background: url("/img/sections/first-screen/big-arrow.svg") no-repeat center;
      background-size: contain;
    }
    &:hover{
      &:before {
        width: 150px;
      }
    }
  }
  &__follow-us-container {
    margin-bottom: 30px;
  };
  &__follow-us{
    width: 100%;
    flex: 0 0 59%;
    max-width: 59%;
    @include media-breakpoint-up(xxl){
      flex: 0 0 50%;
      max-width: 50%;
    }
    display: none;
    align-items: center;
    @include media-breakpoint-up(lg){
      display: flex;
    }
    &__label{
      color: white;
      opacity: .7;
      padding-right: 13px;
    }
  }
  &__header{
    margin-bottom: 20px;
  }
  &__text, &__space{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: flex-start;
    @include media-breakpoint-up(xxl){
      align-items: center;
    }
  }
  &__text{
    flex: 0 0 315px;
    max-width: 315px;
    padding-right: 25px;
    @include media-breakpoint-between(xl, xxl){
      align-items: flex-end;
      padding-bottom: 27px;
    }
    @include media-breakpoint-up(xs){
      flex: 0 0 360px;
      max-width: 360px;
      padding-right: 15px;
    }
    @include media-breakpoint-up(lg){
      padding-top: 40px;
      flex: 0 0 57%;
      max-width: 57%;
    }
    @include media-breakpoint-up(xl){
      flex: 0 0 57%;
      max-width: 57%;
      padding-right: 11%;
    }
    @include media-breakpoint-up(xxl){
      flex: 0 0 48%;
      max-width: 48%;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 30px;
    }
    @include media-breakpoint-up(fhd){
      flex: 0 0 39%;
      max-width: 39%;
    }
  }
  &__space{
    @include media-breakpoint-down(sm){
      position: absolute;
      top: 56px;
      right: 20px;
      width: 56.25vw;
      height: auto;
      z-index: -1;
    }
    @include media-breakpoint-up(md){
      flex: 0 0 315px;
      max-width: 315px;
      margin-right: auto;
    }
    @include media-breakpoint-up(xxl){
      flex: 0 0 525px;
      max-width: 525px;
    }
    @include media-breakpoint-up(fhd){
      margin-left: auto;
      flex: 0 0 715px;
      max-width: 715px;
    }
  }
  &__wavesbox {
    background: #0500FF;
    opacity: 0.7;
    transform: rotate(45deg);
    position: absolute;
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(sm){
      max-width: 75px;
      max-height: 75px;
      right: 10px;
      bottom: 10px;
    }
    @include media-breakpoint-up(md){
      background: md;
      max-width: 120px;
      max-height: 120px;
      bottom: 20%;
      right: 0px;
    }
    @include media-breakpoint-up(xxl){
      background: xxl;
      max-width: 225px;
      max-height: 225px;
      right: 25px;
      bottom: 37px;
    }
    @include media-breakpoint-up(fhd){
      background: fhd;
    }
  }
}
