

.section{
  padding-bottom: 100px;
  @include media-breakpoint-up(sm){
    padding-bottom: 0;
    margin-bottom: 50px;
  }
  @include media-breakpoint-up(lg){
    margin-bottom: 100px;
  }
}

@import "first-screen";
@import "outline";
@import "box";
