.footer{
  &__top{
    cursor: pointer;
    opacity: 0.5;
    transition: .2s;
    color: white;
    text-decoration: none!important;
    outline: none!important;
    height: 40px;
    padding-left: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      height: 40px;
      background: url("/img/footer/arrow.svg") no-repeat center;
    }
    &:hover{
      opacity: 1;
    }
    &__wrapper{
      display: flex;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }
  &__logo{
    padding-top: 10px;
  }
  &__line{
    padding-top: 20px;
    padding-bottom: 18px;
    text-align: left;
    background: #000;
    font-size: 12px;
    @include media-breakpoint-up(xs){
      text-align: center;
    }
    @include media-breakpoint-up(md){
      font-size: 1rem;
      padding-top: 30px;
      padding-bottom: 28px;
    }
    img{
      height: 13px;
      @include media-breakpoint-up(md){
        height: 17px;
      }
    }
  }
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main{
  flex: 1 0 auto;
}
.footer, .header{
  flex-shrink: 0;
}
