.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: background 0.3s;
  &:focus {
    outline: none;
  }
  span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 21px;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center;
    height: 2px;
    background: white;
    transition: background 0s 0.3s;
    &:before, &:after{
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      content: "";
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
    }
    &:before {
      top: -5px;
      transition-property: top, transform;
    }
    &:after {
      bottom: -5px;
      transition-property: bottom, transform;
    }
  }
  &.active{
    span{
      background: none;
      &:before{
        top: 0;
        transform: rotate(45deg);
      }
      &:after{
        bottom: 0;
        transform: rotate(-45deg);
      }
      &:before, &:after{
        transition-delay: 0s, 0.3s;
      }
    }
  }
}
