.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  padding: 5px $navbar-padding-x;
  > .container,
  > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }


  @include media-breakpoint-up(lg) {
    padding: $navbar-padding-y $navbar-padding-x;
    flex-flow: row nowrap;
    justify-content: flex-start;

    .navbar-nav {
      flex-direction: row;

      .dropdown-menu {
        position: absolute;
      }

      .nav-link {
        padding-right: $navbar-nav-link-padding-x;
        padding-left: $navbar-nav-link-padding-x;
        &:before{
          padding-right: $navbar-nav-link-padding-x;
          padding-left: $navbar-nav-link-padding-x;
        }
      }
    }

    // For nesting containers, have to redeclare for alignment purposes
    > .container,
    > .container-fluid {
      flex-wrap: nowrap;
    }

    .navbar-collapse {
      display: flex !important; // stylelint-disable-line declaration-no-important

      // Changes flex-bases to auto because of an IE10 bug
      flex-basis: auto;
    }

    .navbar-toggler {
      display: none;
    }
  }
}

.navbar-toggler {
  position: relative;
  z-index: 2;
}


// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  padding-right: $navbar-brand-padding-x;
  line-height: inherit;
  white-space: nowrap;

  @include hover-focus {
    text-decoration: none;
  }
}


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .dropdown-menu {
    position: static;
    float: none;
  }
  @include media-breakpoint-down(md){
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }
  @include media-breakpoint-down(sm){
    max-width: 540px;
  }
  @include media-breakpoint-down(xs){
    max-width: none;
  }
}

.navbar-collapse{
  @include media-breakpoint-down(md){
    visibility: hidden;
    opacity: 0;
    z-index: -10;
    transition: opacity .5s ease 0s, visibility 0s .5s, z-index 0s .5s;

    display: flex!important;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $body-bg;
    padding-top: 65px;
    .navbar-nav--login{
      position: relative;
      padding-bottom: 1px;
      &:before{
        content: '';
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 0;
        height: 1px;
        background: white;
        opacity: .4;
      }
    }
    .navbar-nav{
      width: 100%;
    }
    .nav-link, .nav-link--waves-keeper{
      padding: 9px 20px;
      &:before{
        padding: 9px 20px
      }
    }
    .nav-link--waves-keeper{
      display: block;
      position: relative;
      color: transparent!important;
      font-weight: 500;
      @include hover-focus {
        text-decoration: none;
      }
      &:hover, &:focus{
        &:before{
          font-weight: 500;
        }
      }
      &:before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        color: white;
        font-weight: 300;
      }
    }
  }
}
.navbar-active{
  @include media-breakpoint-down(md){
    overflow: hidden;
    .navbar-collapse{
      visibility: visible;
      opacity: 1;
      z-index: 1;
      transition: opacity .5s ease 0s, visibility 0s 0s, z-index 0s 0s;
    }
  }
}
.navbar-fixed{
  @include media-breakpoint-down(md){
    .header{
      background: $body-bg;
      transform: translateY(-100%);
      position: fixed;
    }
    &.sd-top{
      .header{
        transform: translateY(0%);
      }
    }
  }
}
