@each $theme, $themeValue in $themes {
  $theme-colors_: map_get($themeValue, "theme-colors");
  $btns-primary: map_get($themeValue, "btns-primary");
  @if ($theme-colors_) {
    $primary_: map_get($theme-colors_, "primary");
    //.theme-#{$theme}{
    //  @if($primary_){
    //    //mark, .mark{
    //    //  background: $primary_;
    //    //}
    //  }
    //}
    @if ($primary_) {
      .mark-#{$theme} {
        background: $primary_;
      }
      .mark-#{$theme}{
        .mark-dynamic {
          &__wrapper{
            background: $primary_;
          }
        }
      }
      .text-#{$theme} {
        color: $primary_ !important;
      }
      .bg-#{$theme} {
        background-color: $primary_ !important;
      }

      .section--#{$theme} {
        .section--faq {
          &__list-link {
            &:before {
              background: $primary_ !important;
            }
          }
        }

        .text-primary {
          color: $primary_ !important;
        }

        .btn-primary {
          background: $primary_ !important;
          color: white;
        }

        .bg-primary {
          background: $primary_ !important;
        }

        .btn-outline-primary{
          color: $primary_ !important;
          border-color: $primary_ !important;
          &:hover{
            border-color: rgba($primary_, .5) !important;
          }
          &:active{
            border-color: rgba($primary_, .5) !important;
            color: rgba($primary_, .5) !important;
          }
        }
        hr {
          border-color: $primary_ !important;
        }
      }

      .btn-primary--#{$theme} {
        background: $primary_ !important;
        color: white;
      }

      .mobile-tabs__link--#{$theme} {
        &:hover{
          background: $primary_ !important;
        }
      }

      .section--fs__nav-link--#{$theme}{
        &:before {
          background: $primary_ !important;
        }
      }
    }


  }
}
.section--outline__line__content{
  .text-primary{
    color: black!important;
  }
}
