html {
  font-size: 16px;
  position: relative;
}

body {
  position: relative;
}

.offset-left {
  padding-left: 0px;
  @include media-breakpoint-up(lg) {
    padding-left: 125px;
  }
  @include media-breakpoint-up(xxl) {
    padding-left: 70px;
  }
  @include media-breakpoint-up(fhd) {
    padding-left: 120px;
  }
}

.offset-left-2 {
  padding-left: 0px;
  @include media-breakpoint-up(lg) {
    padding-left: 265px;
  }
  @include media-breakpoint-up(xxl) {
    padding-left: 220px;
  }
  @include media-breakpoint-up(fhd) {
    padding-left: 320px;
  }
}

.container, .container-fluid {
  @include media-breakpoint-down(xs) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.wrapper-image {
  position: relative;
  width: 360px;
  min-width: 360px;
  height: 238px;
  background: url("/img/sections/faq/wrapper-md.svg") no-repeat center;
  background-size: contain;
  margin-bottom: 20px;

  @include media-breakpoint-up(xl) {
    width: 520px;
    min-width: 520px;
    height: 370px;
    background: url("/img/sections/faq/wrapper.svg") no-repeat center;
  }

  &__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 25px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    border-radius: 6px;

    @include media-breakpoint-up(xl) {
      top: 40px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      border-radius: 10px;
    }
  }
}

