html {
    font-size: 16px;
    position: relative;
}

body{
    position: relative;
}

.offset-left{
    padding-left: 0px;
    @include media-breakpoint-up(lg){
        padding-left: 125px;
    }
    @include media-breakpoint-up(xxl){
        padding-left: 70px;
    }
    @include media-breakpoint-up(fhd){
        padding-left: 120px;
    }
}

.offset-left-2{
    padding-left: 0px;
    @include media-breakpoint-up(lg){
        padding-left: 265px;
    }
    @include media-breakpoint-up(xxl){
        padding-left: 220px;
    }
    @include media-breakpoint-up(fhd){
        padding-left: 320px;
    }
}

.container, .container-fluid{
    @include media-breakpoint-down(xs){
        padding-left: 20px;
        padding-right: 20px;
    }
}


