@import "./functions";

// Bootstrap
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$font-family-base: 'Roboto', #{$font-family-sans-serif};

$grid-breakpoints: (
  xxs: 0,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1330px,
  fhd: 1810px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1310px,
  fhd: 1790px
);

$text-muted: #727272;

$font-size-base: 16px;
$small-font-size: 13px;
$font-weight-base: 300;
$h6-font-size: rem(18);
$font-weight-bolder: 500;
$font-weight-normal: 300;

$line-height-base: 1.4;

$green: #0BC91F;
$pink: #BB6BD9;
$blue: #4D49FF;

$primary: $green;

$mark-bg: $primary;

$body-bg: #101113;
$body-color: #FFFFFF;

$headings-font-weight:        500;
$headings-color:              inherit;


$h1-font-size:                26px;
$h2-font-size:                20px;
$h3-font-size:                16px;
$h1-font-size-sm:                44px;
$h2-font-size-sm:                26px;
$h3-font-size-sm:                16px;
$h1-font-size-xl:             46px;
$h2-font-size-xl:                26px;
$h3-font-size-xl:                20px;

$h3-font-weight:                300;


// Links
//
// Style anchor elements.

$link-color:                              white;
$link-decoration:                         none;
$link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration:                   underline;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15%;

$navbar-padding-y: 12px;
$navbar-padding-x: 0;

$navbar-brand-padding-y: 5px;
$navbar-brand-padding-x: 5px;

$nav-link-padding-y: 8px;
$nav-link-padding-x: 15px;
$navbar-nav-link-padding-x: 15px;

$themes: (
  "green": (
    "theme-colors": (
      "primary": $green,
    ),
    "btns-primary": $green
  ),
  "pink": (
    "theme-colors": (
      "primary": $pink,
    ),
    "btns-primary": $pink
  ),
  "blue": (
    "theme-colors": (
      "primary": $blue,
    ),
    "btns-primary": $blue
  )
);
