<!-- Modal Login Mobile -->
<div class="modal fade modal-login-mobile" id="login-mobile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div data-dismiss="modal" class="modal-close"></div>
      <div class="modal-body">
        <div class="text-center mb-4">
          <img width="100" height="100" class="img-fluid" src="/img/icons/laptop-rocke.svg"
               alt="Log in from PC">
        </div>
        <div class="modal-login-mobile__h1">
          Log in from PC
        </div>
        <div>
          This functionality is currently only available in the desktop version of Ventuary DAO. Sorry for the
          inconvenience.
        </div>
      </div>
    </div>
  </div>
</div>
