{% macro img(src, offset) %}
  <div class="r-img">
    <div class="r-offset" style="padding-top: {{ offset }}%;"></div>
    <div class="r-bg bg-contain lazy" data-bg="url({{ src }})"></div>
  </div>
{% endmacro %}
