{% import "~components/social.njk" as social %}
{% import "~components/rImg.njk" as rImg %}
<!doctype html>
<html lang="en">
<head>
  <title>Ventuary DAO</title>
  {% include "~layouts/head.njk" %}
</head>
<body>
{% include "~layouts/header.njk" %}
<main class="main">
  {% block main %}{% endblock %}
</main>
{% include "~layouts/footer.njk" %}
{% include "~components/modal-guide.njk" %}
{% include "~components/modal-login-mobile.njk" %}

{% include "~layouts/script.njk" %}
</body>
</html>
