<footer id="footer" class="footer">
  <div class="container">
    <div class="footer__top__wrapper">
      <div class="footer__top d-none d-xs-flex js-top">
        Top
      </div>
    </div>
    <div class="row social-list__wrapper">
      <div class="col-auto d-xs-none footer__logo">
        <div class="js-top">
          <img width="120" height="43" src="/img/footer/logo.svg" alt="Ventuary DAO">
        </div>
      </div>
      <div class="col col-xs-12">
        {{ social.socialList(socials) }}
      </div>
    </div>
  </div>

  <div class="footer__line">
    <div class="container">
      <span class="d-block mb-2 mb-xs-0 d-xs-inline">© 2019 Ventuary DAO.</span>
      <span class="d-block d-xs-inline">
        Made with
        <img class="img-icon" width="16" height="17" src="/img/icons/heart.png" alt="Heart">
      </span>
      <span class="d-block d-xs-inline">in Saint Petersburg.</span>
      <span class="d-block d-xs-inline">Powered by <b>waves</b>
        <img class="img-icon" width="16" height="17" src="/img/icons/rubin.png" alt="Rubin">
      </span>
    </div>
  </div>
</footer>
